<div >
	<h2>{{user}}</h2>

	<div>{{user}} has been greeted, {{count}} time(s)</div>
	
<nav class="homeNav">
   <button class="button"><a href="/"
        class="greetedNav">Home</a></button> 
</nav>
</div>