<div class="greetedNames">
	<h2>Greeted Users</h2>
{{!-- call the list of of names that have numbers --}}
	{{#each listOfNames}} 
	<div><a href="/counter/{{name}}"><ul><li>{{name}}</li></ul></a></div>
	{{/each}}

<nav class="homeNav">
   <button class="button"><a href="/"
        class="greetedNav">
        Home</a></button> 
		
</nav>
</div>