<div class="greetedNames">
	<h2>Greeted Users</h2>
{{!-- call the list of of names that have numbers --}}
<ul>
	{{#each listOfNames}} 
	<li><a href="/counter/{{name}}">{{name}}</a></li>
	{{/each}}
</ul>
<nav class="homeNav">
   <button class="button"><a href="/"
        class="greetedNav">
        Back</a></button> 
		
</nav>
</div>