/* body{
    text-align: center;
    justify-content: center;
} */
.button {
    background-color: #3498db;
    border: none;
    color: rgb(12, 12, 12);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
     cursor: pointer;
   
  }
  h1{
    padding-bottom: 0.5em;
  }
  .greeting-message {
    margin-top: 20px;
    font-size: 30px;
    
}
  .error-message {
	background: #fcc;
	color:red;
	border: 1px solid red;
	border-radius: 0.25rem;
	margin-inline: auto;
	padding: 0.25rem 0.5rem;
}
  body {
    background-image: url("https://i.pinimg.com/originals/b4/d2/16/b4d216c7394cc6d31486909d845e281b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
  background-image: url("https://i.pinimg.com/originals/b4/d2/16/b4d216c7394cc6d31486909d845e281b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    text-align: center;
    padding: 20px;
    background-color: #c3e3fb;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.names{
    text-align: center;
    justify-content: center;
}
   
